html,
body {
  height: 100%;
  margin: 0;
}

#root {
  /* Assurez-vous que l'ID correspond à l'élément racine de votre application React */
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

footer {
  margin-top: auto; /* Pousse le pied de page vers le bas */
  position: relative; /* au lieu de fixed ou absolute */
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a.my-link {
  text-decoration: none;
  color: inherit;
}

.product-image {
  max-width: 400px;
  width: 100%;
}

img.large {
  max-width: 100%;
}

img.thumbnail {
  height: 80px;
}

.small-container {
  max-width: 600px;
}

.checkout-steps > div {
  border-bottom: 0.2rem solid #a0a0a0;
  color: #a0a0a0;
}

.checkout-steps > div.active {
  border-bottom: 0.2rem solid #005eb8;
  color: #005eb8;
}

.dropdown-menu[data-bs-popper] {
  left: auto;
  right: 0;
}

.product-cards {
  padding: calc(var(--bs-gutter-x) * 0.5);
}

.bw-filter {
  filter: grayscale(100%);
}

.carousel .d-block.w-100 {
  height: 40dvh; /* Fixed height for the carousel */
  object-fit: cover; /* Images cover the entire area of the carousel */
  object-position: center; /* Images are centered in the carousel */
  width: 100%; /* Carousel takes the full width of the page */
}
.carousel .carousel-caption.dark-mode {
  color: white; /* ou une autre couleur appropriée pour le mode sombre */
}

.category-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* Cela répartira l'espace uniformément autour des éléments */
}

/* Styles pour les petits écrans (par défaut) */
.category-item {
  width: 20dvw; /* Prend toute la largeur sur les petits écrans */
}

.category-item img {
  display: block; /* Makes the image a block element */
  margin: 0 auto; /* Centers the image horizontally */
  width: auto; /* Adjust width as needed */
  max-width: 100%; /* Ensures the image is not wider than its container */
  height: auto; /* Maintient le ratio de l'image */
}

img.thumbnail {
  height: 80px;
}

footer .desktop-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 8rem;
}

footer .desktop-footer a {
  margin-right: 0.5rem;
}

footer .desktop-footer a:last-child {
  margin-right: 0;
}

footer .desktop-footer .fab {
  margin-left: 0.5rem;
}

footer .desktop-footer .text-links {
  order: 1;
}

footer .desktop-footer .icon-links {
  order: 2;
}

.small-container {
  max-width: 600px;
}

@media (min-width: 992px) and (max-width: 1223px) {
  #filter-collapse {
    display: block !important;
  }

  .search-form {
    display: flex;
    justify-content: space-between;
  }

  .desktop-footer {
    display: none;
  }
}
@media (max-width: 991px) {
  .search-form {
    width: 100%;
  }
}

@media (min-width: 992px) {
  .search-form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
  }

  .search-form .input-group {
    width: auto;
    flex-grow: 1;
  }

  .search-form button {
    margin-left: 10px;
  }
}
.search-area {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.search-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.search-form button {
  flex-grow: 0;
  margin-right: 10px;
}

.search-form .input-group {
  flex-grow: 1;
  width: auto;
}

@media (max-width: 991px) {
  .search-area {
    flex-direction: column;
  }

  .search-form {
    width: 100%;
  }
}

@media (min-width: 992px) {
  .search-form {
    width: auto;
  }
}
