html,
body {
  height: 100%;
  margin: 0;
}

#root {
  /* Assurez-vous que l'ID correspond à l'élément racine de votre application React */
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

footer {
  margin-top: auto; /* Pousse le pied de page vers le bas */
  position: relative; /* au lieu de fixed ou absolute */
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a.my-link {
  text-decoration: none;
  color: inherit;
}

.product-image {
  max-width: 400px;
  width: 100%;
}

img.large {
  max-width: 100%;
}

img.thumbnail {
  height: 80px;
}

.small-container {
  max-width: 600px;
}

.checkout-steps > div {
  border-bottom: 0.2rem solid #a0a0a0;
  color: #a0a0a0;
}

.checkout-steps > div.active {
  border-bottom: 0.2rem solid #005eb8;
  color: #005eb8;
}

.dropdown-menu[data-bs-popper] {
  left: auto;
  right: 0;
}

.product-cards {
  padding: calc(var(--bs-gutter-x) * 0.5);
}

.bw-filter {
  filter: grayscale(100%);
}

.carousel .d-block.w-100 {
  height: 40dvh; /* Fixed height for the carousel */
  object-fit: cover; /* Images cover the entire area of the carousel */
  object-position: center; /* Images are centered in the carousel */
  width: 100%; /* Carousel takes the full width of the page */
}
.carousel .carousel-caption.dark-mode {
  color: white; /* ou une autre couleur appropriée pour le mode sombre */
}

.category-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* Cela répartira l'espace uniformément autour des éléments */
}

/* Styles pour les petits écrans (par défaut) */
.category-item {
  width: 20dvw; /* Prend toute la largeur sur les petits écrans */
}

@media only screen and (max-width: 780px) {
  .category-grid .category-item {
    width: 100%; /* Affiche un seul élément par ligne sur les petits écrans */
  }
}

.category-item img {
  width: 100%; /* L'image remplit la largeur de .category-item */
  height: auto; /* Maintient le ratio de l'image */
  max-width: none; /* Supprimez la restriction de la largeur maximale */
}

img.thumbnail {
  height: 80px;
}

@media (max-width: 1223px) {
  .desktop-footer {
    display: none;
  }
}

footer .desktop-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 8rem;
}

footer .desktop-footer a {
  margin-right: 0.5rem;
}

footer .desktop-footer a:last-child {
  margin-right: 0;
}

footer .desktop-footer .fab {
  margin-left: 0.5rem;
}

footer .desktop-footer .text-links {
  order: 1;
}

footer .desktop-footer .icon-links {
  order: 2;
}

.small-container {
  max-width: 600px;
}

/* STYLE CREDIT CARDS */

.credit-card {
  background-color: #f8f9fa; /* Couleur de fond par défaut */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  transition: box-shadow 0.3s ease;
  position: relative; /* Pour positionner le badge */
}

.credit-card:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.default-badge {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #28a745; /* Couleur de fond verte pour le badge */
  color: #fff; /* Couleur du texte */
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
}

.bank-name {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.card-number {
  font-size: 20px;
  margin-bottom: 15px;
}

.card-holder {
  margin-bottom: 15px;
}

.label {
  font-size: 14px;
  color: #777;
}

.name {
  font-size: 16px;
  margin-top: 5px;
}

.expiration {
  font-size: 14px;
  margin-top: 15px;
}
